<!-- index.html -->
<div class="drum-set">
  <svg class="stick-figure">
    <circle cx="25" cy="25" r="12.5" fill="#fff" />
    <rect x="12.5" y="25" width="25" height="50" />
    <rect class="arm arm-left" x="0" y="25" width="25" height="15" />
    <rect class="arm arm-right" x="25" y="25" width="25" height="15" />
    <rect class="leg leg-left" x="12.5" y="75" width="12.5" height="25" />
    <rect class="leg leg-right" x="37.5" y="75" width="12.5" height="25" />
  </svg>
  <svg class="drum">
    <circle cx="50" cy="50" r="45" fill="#fff" />
    <rect x="20" y="30" width="60" height="40" />
  </svg>
</div>
