<div class="row">
  <div class="col-sm-12 col-md-3">
    <p>
      Copyright © 2023 Lloyd Spear - All rights reserved.
    </p>
    <p>
      Designed and Developed by Lloyd Spear, a front-end web developer.
    </p>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>
      Follow me on:  <a href="https://www.linkedin.com/in/lloydspear/" class="ml-15"> <img src="../../../assets/images/LI-In-Bug.png" class="linked-in-icon "></a>
    </p>



  </div>
    <div class="col-sm-12 col-md-3">
    <p>
      Contact:  Email
    </p>



  </div>
</div>

<div class="row mt-15">
  <div class="col-sm-12">
    <p class="disclaimer">
      Disclaimer: The views expressed on this website are solely those of the author and do not necessarily represent
      those of any company or organization.
    </p>
  </div>
</div>
