
<div class="clearfix">

  <!-- <div class="slider-container"> -->
    <!-- <div class="slider">
      <app-slider></app-slider>
    </div> -->
    <div class="card card-grid-about">
      <h1 class="heading-1">Lloyd <strong>Spear</strong></h1>
      <h2 class="heading-2">
        Web Developer
      </h2>


      <p class="indent">
        I am an experienced Front-End Web Developer with a background in creating and maintaining responsive and engaging websites for major companies in the automotive and soft drink industry. My expertise includes proficiency in HTML, CSS, and JavaScript, as well as experience working with front-end frameworks such as Angular, Vue.js and more.
      </p>
    </div>
  <!-- </div> -->
</div>




