<div class="image-info-container col-md-3">
 <div class="row ">
  <div class="circles center">
    <span class="circle-1"></span>
    <span class="circle-2"></span>
    <span class="circle-3"></span>
    <span class="circle-4"></span>
  </div>
  <div class="center">
    <img src="../../../assets/images/skectchy-profile-pic.png"/>
  </div>

 </div>
<div class="clearfix"></div>
  <div class="row">
    <div class="left-column col-md-6 zero-margin">

    </div>
    <div class="right-column col-md-6 zero-margin">

    </div>
  </div>


</div>
