@import '../../../scss/library';



.image-container {
  position: relative;
  width: auto;
}



.image-container img {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.circles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.left-column {
  background-color: $primary-color;
  min-height: 280px;
  max-height: 370px;
  transform: skewY(18deg) translateY(-50px);
  //filter: drop-shadow(-15px 0 1rem black);
}

.right-column {
  background-color: $secondary-color;
  min-height: 280px;
  max-height: 370px;
  transform: skewY(-18deg) translateY(-50px);
  //filter: drop-shadow(15px 0 1rem black);
}
