<nav class="col-sm-12">
  <ul class="main row no-bullets right">
      <li class="">
         <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="">
          <a routerLink="/experience" routerLinkActive="active">Experience</a>
      </li>
      <li class="">
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
      <li class="">
          <a routerLink="/portfolio" routerLinkActive="active">Projects</a>
      </li>
  </ul>
</nav>
