@import './scss/library';
@import './scss/mixins';
@import './scss/reuseable';
@import './scss/nav';
@import './scss/backgroundAnimation.scss';
@import './scss/star-animation-one.scss';
@import './scss/star-animation-two.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background {
  height: 100vh;
  background-color: $primary-color;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(221,126,66,1) 100%);
}

.main-container {
  color: $secondary-color;
  width: 95%;
  min-height:95vh;
  height: 95vh;
  padding: 25px;
  border-radius: 15px;
  background: rgb(80,72,69);
  background: radial-gradient(farthest-corner at 140px 240px, rgba(80,72,69,1) 15%, rgba(37,37,36,1) 100%);
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.main-content {
  position: relative;
  margin-top: 2rem;;
}

