$max-width: 1000px; // set page max-width
$column-width: 15%; // set column width
$gutter-width: 2%; // set gutter width
$maximum-columns: 6; // set max number of columns
$container-columns: 1; //set initial value
$primary-color: #dd7e42;
$secondary-color: #f1b379;
$contrast-color: #504845;
