@import "./_library.scss";
@import "./_mixins.scss";




.clear {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.grid {
  @include grid-row();
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-text {
  text-align: center;
}

.center {
  margin: auto;
}

.zero-margin {
  margin: 0 !important;
}
.defaultPadding {
  padding:20px;
}


/** lists **/
ul.no-bullets {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}


.card {
  grid-column: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: $contrast-color;
  //background-blend-mode: multiply;
  //filter: drop-shadow(0 0 1rem black);
}
// .card:hover {
//   filter: drop-shadow(0 1px .1rem black);
// }
app-hover-card:nth-child(1) {
  grid-column: 2;
}

app-hover-card:nth-child(2) {
  grid-column: 3;
}
.indent {
  text-indent: 1rem;
}
.heading-1 {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 400;
  font-size: 44px;
}

.heading-2 {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 500;
}
 .disclaimer {
  font-size: .5rem;
 }

 //margins and paddings
 .mt-15 {
  margin-top: 15px;
 }
 .ml-15 {
  margin-left: 15px;
 }

 //paragraph styles
 .indent {
  text-indent: 25px;
 }
 .paragraph {
  margin-bottom: 10px;
 }
