
<div class="clearfix card-grid-experience">
  <div class="card ">
    <h1>Experience</h1>
    <h2>Work History</h2>
    <p class="indent paragraph">
      As a software developer at a Detroit-based software company, where I worked on dealer-facing email marketing sites for major auto companies, utilizing Angular 6+, Sass, and NodeJS to interact with SQL databases and updating RESTful APIs.
    </p>
    <p class="indent paragraph">
      Previously, as a senior web developer at MRM // McCann, I led and co-led multiple website redesigns for a major automotive company, working with UX and creative teams to convert and redesign existing JSP-based sites to AngularJS sites that integrated third-party APIs. I also led the development of a hybrid mobile app using Vue, Sass, and PhoneGap for a national charity.
    </p>
    <p class="indent paragraph">
      I have also worked as an application developer/web developer at IBM, where I maintained existing sites and created new promotional sites for a major soft drink brand, using AngularJS, HTML(5), CSS(3), JavaScript, XML, PHP, AJAX, and CQ(AEM). I also have experience as a freelance web designer/developer, creating and assembling graphic content, layout, and coding pages with HTML, CSS, JavaScript, PHP, and MySQL
    </p>
    <p class="indent paragraph">
      I also have strong problem-solving and debugging skills and a deep understanding of web accessibility principles WCAG 2.1.
    </p>
  </div>
  <div class="slider"></div>
  <div class="card ">
    <h2>Education</h2>
    <p class="indent paragraph">
      I hold a BS in Web and Interactive Media Design from The Art Institutes, and a Masters Certificate in Sound Production from Berklee College of Music.
    </p>
  </div>
</div>
